{% extends 'base.html.twig' %}


{% block Contenu %}
<h3>Liste des matières</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Note</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Email Etudiant</th>
        <th scope="col">Cours</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    {% for avisCours in list %}
        <tbody>
            <tr>
                <th scope="row">{{avisCours.id}}</th>
                <td>{{avisCours.note}}</td>
                <td>{{avisCours.Commentaire}}</td>
                <td>{{avisCours.emailEtudiant}}</td>
                <td>{{avisCours.cours}}</td>
                <td>
                {% if app.user.email == avisCours.emailEtudiant %}
                    <a  href="{{ path('avisCours_edit',{id:avisCours.id}) }}">Editer</a>
                    <a  href="{{ path('avisCours_delete',{id:avisCours.id}) }}">Supprimer</a>
                {% endif %}   
                </td>
            </tr>
        </tbody>
    {% endfor %}

</table>

{% endblock %}

