<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"  crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('/CSS/allcss.css')}}">
    <link rel="stylesheet" href="{{asset('/CSS/side.css')}}">   
    <title>{% block title %}EDT{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </head>

    <body id="body-pd" class="body-pd">
        <header class="header body-pd" id="header">
        <div class="header_toggle"></div>
        {% if app.user %}
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <li class="nav-item me-3 me-lg-0">
                Compte : {{ app.user.email}}ㅤㅤ
                </li>
            </ul>
        {% endif %}
        {% if is_granted ('ROLE_ADMIN') %}
            <div class="header_img"> <img src="{{asset('/image/Admin.png')}}" alt=""> </div>
        {% elseif is_granted ('ROLE_PROF') %}
        <div class="header_img"> <img src="{{asset('/image/Prof.png')}}" alt=""> </div>  
        {% elseif is_granted ('ROLE_ELEVE') %}
        <div class="header_img"> <img src="{{asset('/image/Eleve.png')}}" alt=""> </div>  
        {% else %}

        {% endif %}
        </header>

        <div class="l-navbar showNav" id="nav-bar">
            <nav class="nav">
            <div> 
                <a href="" class="nav_logo"> 
                    <i class='bx bx-layer nav_logo-icon'>
                    </i> 
                    <span
                        class="nav_logo-name">Emplois du temps
                    </span> 
                </a>
                <div class="nav_list">
                {% if is_granted ('ROLE_ADMIN') %}
                    <br>
                    <a href="{{ path('admin')}}" class="nav_link"> 
                        <i class='bx bxl-netlify nav_icon'></i> 
                        <span class="nav_name">Admin</span> 
                    </a>  
                {% else %}    
                {% if is_granted ('ROLE_PROF') %}
                <a href="{{path('professeur_list')}}" class="nav_link"> 
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Professeurs</span> 
                </a> 
                <a href="{{ path('matiere_list')}}" class="nav_link"> 
                    <i class='bx bx-spreadsheet nav_icon'></i> 
                    <span class="nav_name">Matières</span> 
                </a> 
                <a href="{{path('cours_list')}}" class="nav_link"> 
                    <i class='bx bx-book-open nav_icon'></i> 
                    <span class="nav_name">Cours</span> 
                </a> 
                <a href="{{path('cours_create')}}" class="nav_link"> 
                    <i class='bx bx-book-open nav_icon'></i> 
                    <span class="nav_name">Créer un cours</span> 
                </a> 
                {% endif %} 
                {% if is_granted ('ROLE_ELEVE') %}
                    <a href="{{ path('cours_edt') }}" class="nav_link"> 
                        <i class='bx bxs-school nav_icon'></i> 
                        <span class="nav_name">Agenda</span> 
                    </a> 
                    <a href="{{ path('matiere_list')}}" class="nav_link"> 
                        <i class='bx bx-spreadsheet nav_icon'></i> 
                        <span class="nav_name">Matières</span> 
                    </a>    
                    <a href="{{ path('professeur_note')}}" class="nav_link"> 
                        <i class='bx bx-star nav_icon'></i> 
                        <span class="nav_name">Note tes Profs</span> 
                    </a> 
                    
                {% endif %} 
                {% if app.user %}
                <a href="{{ path('avisCours_list')}}" class="nav_link"> 
                    <i class='bx bx-star nav_icon'></i> 
                    <span class="nav_name">Avis cours</span> 
                </a>  
                {% endif %}
                {% endif %} 
                </div>
            </div> 
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="nav_link"> 
                    <i class='bx bx-log-out nav_icon'></i> 
                    <span class="nav_name">Déconnexion</span>
                </a>
            {% else %}
                <a href="{{ path('app_login')}}" class="nav_link"> 
                    <i class='bx bx-log-in nav_icon'></i> 
                    <span class="nav_name">Connexion</span>
                </a>
            {% endif %}
            
        </nav>
        </div>
        <!--Container Main start-->
        <div class="">
            {% block Contenu %}{% endblock %}
            {% block PiedPage %}{% endblock %}
        </div>
        <!--Container Main end-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="{{ asset('edt.js') }}"></script>
        <script src="{{ asset('avis.js') }}"></script>
    </body>
</script>
</html>